* { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

body {
    background-color: #18AFE6;
}

h1, h2, ul, label {
    font-family: arial, serif;
}

h1 {
    text-align: center;
    width: 100%;
    float: left;
    font-size: 50px;
}

h2 {
    padding: 15px 0 15px 15%;
    font-size: 25px;
    text-decoration: underline;
}

li {
    border-radius: 5px;
    margin: 0 15px 15px 15px;
    padding: 12px;
    background-color: lightblue;
}

li form {
    float: right;
}

button {
    
    border-style: none;
    box-shadow: none;
    border-radius: 2px;
    color: #fff;
    background-color: #D81C0E;
}

.toBeEaten form {
    display: inline-block;
}

.image {
    width: 100%;
    clear: both;
    float: left;
    text-align: center;
}

.toBeEaten {
    width: 50%;
    clear: both;
    display: inline-block;
    
}

.eaten {
    float: right;
    clear: both;
    width: 50%;
}

.addBurger {
    float: left;
    clear: both;
    width: 100%;
    text-align: center;
}

